
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   
    <div class="container">
    <div class="row">
     <div class="col-md-6">
      <app-posts1></app-posts1>
     </div>
      <div class="col-md-6">
        <app-posts2></app-posts2>
      </div>
    </div>

    
    </div>  

<!-- 
  <h2 class="text-danger"> bootstrap is working </h2>
 <button class="btn btn-success"> click me</button> -->
</body>
</html>